<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
    <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
    <title>Boolzap</title>
</head>
<body>
    <div class="wrap">
        <div class="wrap1"></div>
        <div class="wrap2"></div>

        <div id="root" class="container-app" @click="resetContactList">

            <div class="contact">
                <div class="my-container">
                    <div class="user-owner">
                        <img src="img/avatar_2.jpg" alt="" class="user-img">
                        <span>{{ userOwner.name }}</span>
                    </div>

                    <div class="user-option">
                        <i class="fas fa-circle-notch"></i>
                        <i class="fas fa-comment-alt"></i>
                        <i class="fas fa-ellipsis-v"></i>
                    </div>
                </div>
                <div class="get-notify">
                    <i class="fas fa-bell-slash"></i>
                    <div class="user-text">
                        <span>Ricevi notifiche di nuovi messaggi</span>
                        <span class="small-test"><a href="">Attiva notifiche desktop</a></span>
                    </div>
                </div>
                <div class="search-container">
                    <i class="fas fa-search"></i>
                    <input type="text" placeholder="Cerca o inizia una nuova chat" @keyup.enter="researchContact" v-model="searchContact">
                </div>

                <ul class="contact-container">
                    <li v-for="(contact, index) in contacts" v-if="contact.visible == true" @click="setActiveChat(index)" class="contact-users" :class="getActiveChatClass(index)">
                        <img :src="'img/avatar' + contact.avatar + '.jpg'" alt="" class="user-img">
                        <span>{{ contact.name }}</span>
                    </li>
                </ul>
            </div>

            <div class="chat">
                <div class="my-container">
                    <div class="chat-user">
                        <img :src="'img/avatar' + contacts[userIndex].avatar + '.jpg'" alt="" class="user-img">
                        <div class="user-text">
                            <span>{{ contacts[userIndex].name }}</span>
                            <span class="small-test">Ultimo accesso alle</span>
                        </div>
                    </div>
                    <div class="user-option">
                        <i class="fas fa-search"></i>
                        <i class="fas fa-paperclip"></i>
                        <i class="fas fa-ellipsis-v"></i>
                    </div>
                </div>
                <div class="chat-container clearfix">
                    <div v-for="(message, index) in contacts[userIndex].messages" :class="getMessageClass(index)" class="message-container">
                        <span>{{ message.message }}</span>
                        <span class="message-date">{{ message.date }}</span>
                    </div>
                </div>
                <div class="chat-input my-container">
                    <i class="far fa-smile"></i>
                    <input type="text" placeholder="Scrivi un messaggio" @keyup.enter="sendMessage" v-model="writeMessage">
                    <i class="fas fa-microphone"></i>
                </div>
            <!-- </div>ciao -->

        </div>
    </div>
    <script src="js/main.js"></script>
</body>
</html>